<form nz-form [formGroup]="form" (submit)="saveChanges()">
    <nz-form-item>
        <nz-form-label nzFor="title" [nzSpan]="7" nzRequired>Movie Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
            <input id="title" nz-input formControlName="title" autocomplete="title"
                placeholder="Enter in a new Movie name here ..." />
            <ng-template #userErrorMovieMissing let-control>
                @if (control.errors?.['required']) {
                Please input a movie name!
                }
                @if (control.errors?.['duplicated']) {
                The movie is redundant!
                }
                @if (control.errors?.['firstLetterShouldBeUppercase']){
                The first letter has to be upper case!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label For="releaseDate" [nzSpan]="7" nzRequired>Release Date</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            [nzErrorTip]="getErrorMessagesForReleaseDate()">
            <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="releaseDate" #datePickerInput
                (nzOnChange)="onDateSelect($event)"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="Trailer" [nzSpan]="7" nzRequired>Movie Trailer (Youtube URL)</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
            <input id="trailer" nz-input formControlName="trailer" autocomplete="trailer"
                placeholder="Enter in a movie trailer url ..." />
            <ng-template #userErrorTrailerMissing let-control>
                @if (control.errors?.['required']) {
                Please input a movie url!
                }
                @if (control.errors?.['duplicated']) {
                The trailer is redundant!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
</form>