<ul nz-menu class="fixed-top" nzMode="horizontal">
    <li nz-menu-item nzSelected>
        <!-- <nz-icon nzType="mail" /> -->
        <nz-icon nzType="dashboard" nzTheme="twotone" />
        <a routerLink="">
            List of Movies
        </a>
    </li>
    <li nz-menu-item nzDisabled>
        <!-- <nz-icon nzType="appstore" /> -->
        <nz-icon nzType="idcard" nzTheme="twotone" />
        Pre-Release
    </li>
    <li nz-menu-item>
        <nz-icon nzType="diff" nzTheme="twotone" />
        <a routerLink="genres">
            Genres
        </a>
    </li>
    <li nz-menu-item>
        <nz-icon nzType="diff" nzTheme="twotone" />
        <a routerLink="actors">
            Actors
        </a>
    </li>
    <li nz-menu-item>
        <nz-icon nzType="diff" nzTheme="twotone" />
        <a routerLink="theaters">
            Theaters
        </a>
    </li>
    <li nz-menu-item>
        <nz-icon nzType="diff" nzTheme="twotone" />
        <a routerLink="movies/create">
            Create Movie
        </a>
    </li>
    <li nz-submenu nzTitle="Features - Submenu" nzIcon="setting">
        <ul>
            <li nz-menu-group nzTitle="Comparison of Revenue">
                <ul>
                    <li nz-menu-item>Option 1</li>
                    <li nz-menu-item>Option 2</li>
                </ul>
            </li>
            <li nz-menu-group nzTitle="Prediction of Ticket Sale in Box Office">
                <ul>
                    <li nz-menu-item>Option 3</li>
                    <li nz-menu-item>Option 4</li>
                    <li nz-submenu nzTitle="Sub Menu">
                        <ul>
                            <li nz-menu-item nzDisabled>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                    <li nz-submenu nzTitle="Click me" [nzTriggerSubMenuAction]="'click'">
                        <ul>
                            <li nz-menu-item nzDisabled>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                    <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li nz-menu-item>
        <a href="https://www.themoviedb.org/?language=en-US" target="_blank" rel="noopener noreferrer">Movies Database -
            Link</a>
    </li>
</ul>