<button nz-button nzType="primary" nzShape="round" (click)="addMovie()">
    <nz-icon nzType="plus" nzTheme="outline" />
    Add a movie</button>
<br /><br />

<app-generic-list [elements]="movies">
    <ng-container empty>
        <p style="color: red">There are no movies to display</p>
    </ng-container>
    <ng-container content>
        @for(movie of movies; track $index){
        <div class="movies-container">
            <div>
                @if(movie.poster){
                <img [src]="movie.poster" width="300" height="400" />
                } @else {
                <img src="default.jpg" width="300" height="400" />
                }
            </div>
            <div>
                <div>
                    {{$index +1}}). Movie: <br /> {{ movie.title | uppercase }}
                </div><br />
                <div>
                    Release Date: <br /> {{ movie.releaseDate | date:"MMMM-dd-yyyy" | uppercase }}
                </div>
                <br />
                <div>
                    Revenue: {{ movie.revenue | currency }}
                </div>
                <div>
                    <button (click)="removeMovie(movie)">Remove</button>
                </div>
            </div>
        </div>
        }
    </ng-container>
</app-generic-list>