<form nz-form [formGroup]="form" (submit)="saveChanges()">

    <nz-form-item>
        <nz-form-label nzFor="name" [nzSpan]="7" nzRequired>Actor Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            [nzErrorTip]="getErrorMessagesForName()">
            <input id="name" nz-input formControlName="name" autocomplete="name"
                placeholder="Enter in a new Actor here ..." />
            <ng-template #userErrorActorMissing let-control>
                @if (control.errors?.['required']) {
                Please input a actor name!
                }
                @if (control.errors?.['duplicated']) {
                The actor is redundant!
                }
                @if (control.errors?.['firstLetterShouldBeUppercase']){
                The first letter has to be upper case!
                }
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label For="dateOfBirth" [nzSpan]="7" nzRequired>Date ofBirth</nz-form-label>
        <nz-date-picker nzFormat="yyyy-MM-dd" (ngModelChange)="closeDatePicker($event)"
            #datePickerInput></nz-date-picker>
        <!-- <nz-date-picker id="dateOfBirth" [nzPlaceHolder]="Select a date"
            (ngModelChange)="onDateSelect($event)" nzInline [nzOpen]="isDatePickerOpen"
            (nzOpenChange)="nzDisableDatePicker($event)"></nz-date-picker> -->
    </nz-form-item>
</form>