<h2>Search for Movies</h2>

<form nz-form [formGroup]="form">

    <nz-form-item>
        <nz-form-label [nzSpan]="7">Title</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="title" placeholder="Enter in a movie title here ..." />
        </nz-form-control>
    </nz-form-item>

    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a genre" [formControl]="form.controls.genreId">
        @for (genre of genres; track genre.id) {
        <nz-option [nzLabel]="genre.name" [nzValue]="genre.id"></nz-option>
        }
        <!-- <nz-option nzLabel="Action" nzValue="0"></nz-option>
        <nz-option nzLabel="Comedy" nzValue="1"></nz-option>
        <nz-option nzLabel="Drama" nzValue="2"></nz-option> -->
    </nz-select>
    <div>
        <label nz-checkbox [formControl]="form.controls.upcomingReleases">Upcoming Releases</label>
    </div>

    <div>
        <label nz-checkbox [formControl]="form.controls.inTheaters">In Theaters</label>
    </div>

    <div class="container-clear">
        <button nz-button nzType="primary" nzDanger nzShape="round" (click)="clear()">
            Clear
        </button>
    </div>

</form>